* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.moves {
  font-size: 1.5em;
}

.board {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  background-color: brown;
  width: 80px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 1px solid white;
}